.notes-container {
  max-width: 600px;
  margin: 0 auto;
}
.container {
  background: #f8f9fa;
  padding: 2%;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
textarea,
input {
  width: 90%;
  margin-bottom: 10px;
  padding: 8px;
  resize: vertical;
}

.container > button {
  padding: 8px 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.note-card {
  /* background: #f8f9fa; */
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.note-date {
  font-size: 0.8rem;
  color: #555;
}
.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #b02a37;
}
.note-card:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}
.note-card h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

/* MODAL */
.mantine-Modal-root {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.178);
}
.mantine-Modal-content {
  font-family: inherit;
  border-radius: 10px;
  padding: 10%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.mantine-Modal-body {
  background-color: #f8f9fa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4%;
}
.mantine-Modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.mantine-Modal-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}
.mantine-Modal-close {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
svg {
  width: 24px !important;
  height: 24px !important;
  fill: #555;
}
